/* src/LandingPage.css */

.landing-page {
  text-align: center;
  padding: 50px;
  background-color: #282c34; /* Darker background for contrast */
  min-height: 100vh;
  color: #ffffff; /* Change text color to white for better readability */
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}

.card {
  background-color: #ffffff; /* White background for cards */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 200px; /* Set a fixed width for the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s; /* Animation for hover effect */
  cursor: pointer; /* Change cursor to pointer on hover */
  color: #333; /* Dark text color for card content */
}

.card:hover {
  transform: scale(1.05); /* Scale up on hover */
  background-color: #61dafb; /* Change card background color on hover */
  color: #282c34; /* Change text color on hover */
}

.card h3 {
  margin: 0;
  font-size: 20px;
}

/* Add this new loading container style */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height to center the loading spinner */
  color: #ffffff; /* Loading text color */
  position: fixed; /* Fix position to cover entire viewport */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width to cover entire viewport */
  background-color: rgba(
    40,
    44,
    52,
    0.8
  ); /* Optional: semi-transparent background */
  z-index: 999; /* Optional: ensure it's above other elements */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
